@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    font-size: 16px;
}



body{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(120deg,rgb(35, 35, 68),rgb(35, 34, 34));
    border-radius: 10px;
}



.titulo{
    position: relative;
    top: 10px;
    text-align: center;
    color: rgb(222, 216, 216);
    letter-spacing: 3px;
}

.menu-top-list{
    position: relative;
    top: 20px;
}

.menu-top-list ul{
    text-align: center;
}

.menu-top-list ul li{
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}

.menu-top-list ul li a{
    display: block;
    color: #dcd8d8;
    text-decoration: none;
   
}

.menu-top-list ul li a:hover{

    color: #71B19A;
   
}

.fundo-vidro{

    position: relative;
    top: 50px;
    background: linear-gradient(90deg,rgb(77, 108, 146),rgb(8, 8, 60));
    width: 100%;
    
   
}

.espelho{
    position: relative;
    top: 30px;
    width: 90%;
    height: 150px; 
   margin-left: auto;
   margin-right: auto;
   border: 0.01px solid rgba(181, 176, 176,0.1);
   background-color: rgba(122, 98, 98, 0.1); /* cor de fundo com transparência */
   backdrop-filter: blur(15px); /* desfoca o conteúdo por trás */
   border-radius: 10px; /* bordas arredondadas */
   padding: 20px; /* espaçamento interno */
}

#texto{
    color: #faf9ff;
    font-size: 1.2rem;
    
}

.container{
    position: relative;   
    width: 250px;
    height: 110px; 
    position: relative;
    top: 80px;
    text-align: center;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg,rgb(23, 26, 47),rgb(38, 38, 112));
    border-radius: 20px;
}

.vidro{
    position: relative;
    top: 10px;
    left: 15px;
    width: 250px;
    height: 110Px;
    border-radius: 20%;
    border: 0.01px solid rgba(181, 176, 176,0.1);
    background-color: rgba(122, 98, 98, 0.1); /* cor de fundo com transparência */
    backdrop-filter: blur(15px); /* desfoca o conteúdo por trás */
    border-radius: 10px; /* bordas arredondadas */
    padding: 20px; /* espaçamento interno */
}

.container h3{
    color: #d6d2d2;
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: 'Roboto Mono', monospace;
}

.icon{
    position: absolute;
    right: 15%;
    top: 10%;
    color: #dcd8d8;
}

.cantainer-links{
    display: block;
    text-decoration: none;
    color: #ede7e7;
    position: absolute;
    bottom: 10px;
    right: 30px;
    padding: 5px 20px;
    border-radius: 10px;
    background: #71B19A;
}

#caixa{
    position: absolute;
    width: 80%;
    height: 60%;
    left: 10%; 
    top: 25%;
    display: none;
    border: 0.01px solid rgba(181, 176, 176,0.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: rgba(122, 98, 98, 0.1); /* cor de fundo com transparência */
    backdrop-filter: blur(15px); /* desfoca o conteúdo por trás */
    border-radius: 10px; /* bordas arredondadas */
    padding: 20px; /* espaçamento interno */
}

#cxfechar1{
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    top: -15px;
    left: -15px;
    border-radius: 50%;
    border: none;
    color: #e1dddd;
    background:radial-gradient(closest-corner at 35% 50%, rgba(205, 199, 199, 0.8),transparent) #b30c0c;
    cursor: pointer;
    z-index: 1;
    
}

#conteudo{
    overflow: auto;
    width: 100%;
    height: 100%;
   
   
   
}
#conteudo::-webkit-scrollbar{
    width: 5px;
    border: 1px solid rgba(51, 51, 147, 0.1);
}
#conteudo::-webkit-scrollbar-thumb{
    background: hsl(223, 33%, 45%);
    border-radius: 10px;
}
#caixa ul li{
    list-style: none;
    
}

#caixa ul{
    position: relative;
    margin: 2% 2%;
    padding: 5px 5px;
    border-radius: 10Px;
    
}

.javascript-titulo{
    position: relative;
    color: rgb(232, 144, 21);
    text-align: center;
    top: 2%;
    font-size: 2.1rem;
   
}

.sub-titulo{
    position: relative;
    top: -6px;
    left: 1px;
    font-size: 1rem;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}


.javascript-link{
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 0.9rem;
    margin: 10px 0;
    border: 0.01px solid rgba(181, 176, 176,0.3);
    border-radius: 10px;
    background: linear-gradient(90deg,rgba(16, 18, 23,0.9),rgba(33, 38, 52,0.6)); /* cor de fundo com transparência */
    border-radius: 10px; /* bordas arredondadas */
    padding: 20px; /* espaçamento interno */
    font-family: 'Roboto Mono', monospace;
   
}
.javascript-link:hover{
    position: relative;
    text-align: center;
    background: linear-gradient(90deg,rgba(33, 49, 39, 0.8),rgba(5, 36, 23, 0.8));
}

#javascript-icon-not{
    position: absolute;
    right: 5%;
    color: orange;
}
#javascript-icon-eye{
    position: absolute;
    right: 5%;
    color: rgb(56, 201, 203);
}

footer{
    height: 100px;
}


@media screen and (min-width:40rem /*640/16*/) {
    #menu-top{
        display: flex;
        justify-content: space-between;
        margin: 0 50px;

    }

    .menu-top-list ul li a{
        font-size: 1rem;
    }

    .Bem-vindo{
        font-size: 2rem;
    }

    .menu-top-list ul li{
        position: relative;
        margin: 0 10px;
    }

    
    .container{
        display: inline-block;
        margin: 15px 10px;
        width: 210px;
        height: 110px; 
        background: linear-gradient(90deg,rgb(23, 26, 47),rgb(23, 26, 47));
    }
    .vidro{
        width: 200px;
        height: 110px; 
    }
    .container:hover{
        background: linear-gradient(90deg,rgb(23, 26, 47),rgb(67, 67, 172));
    }

    .container h3{
        font-size: 1.1rem;
    }

    #caixa{
        margin-top: 20px;
        height: 100%;
    }

    
}

@media screen and (min-width:45rem /*640/16*/){
    .assunto{
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 80px;
    }
}

@media screen and (min-width:57rem){
    .assunto{
       
        margin: 0 30px;
    }


    .container{
        position: relative;
        display: inline-block;
        width: 210px;
        height: 110px;
        margin: 0 5px;
    }

    .vidro{
        position: relative;
        top: 10px;
        left: 15px;
        width: 210px;
        border-radius: 30%;
        height: 110Px;
        background-color: rgba(122, 98, 98, 0.1); /* cor de fundo com transparência */
        backdrop-filter: blur(15px); /* desfoca o conteúdo por trás */
        border-radius: 10px; /* bordas arredondadas */
        padding: 20px; /* espaçamento interno */
    }
    
    
    .icon{
        font-size: 1.5rem;
    }

    .cantainer-links{
        padding: 8px 25px;
    }

   
}

@media screen and (min-width:60rem){
    .container{
        display: inline-block;
        width: 240px;
        height: 130px;
        margin: 0 50px;
    }
    .vidro{
        width: 240px;
        height: 130px;
    }

    .container{
        margin: 15px 40px;
    }

    .menu-top-list ul li{
        position: relative;
        margin: 0 30px;
    }

    
    
}